.index-page {
    background-color: #f8f8f8;
  }

.index-page .header {
    box-shadow: 0px 1px 4px rgba(0,0.0,0.2) !important;
    -webkit-box-shadow: 0px 1px 4px rgba(0,0.0,0.2) !important;
    text-align: center !important;
    color: #7C4DFF;
    padding: 10px;
    display: inline-flex;
    width: 99%;
  }
  
.index-page .header-left {
    text-align: left;
    margin-top: 0.67em;
    width: 19%;
  }

.index-page .header-center {
    margin: auto;
  }

@media screen and (max-width: 1000px) {
    .header-right {
      display: block !important;
    }
  }

.header-right {
    display: inline-flex;
    margin-top: 0.67em;
    min-width: 19%;
  }

.index-page .logo-img {
    width: 50px;
  }
  
.index-page .title {
      color: #7C4DFF;
      font-size: 2em;
      line-height: 1em;
  }
  
 .index-page .logo {
    color: #f8f8f8;
  }
